@import "../variables";

.btn-group-toggle {
    button {
        background-color: $gray-1000;
        color: $gray-600;
        background-color: #1E1E1E;
        color: #6c757d;
        padding: 12px 30px;
        cursor: pointer;
        border: none;

        &.active {
            background-color: $violet;
            color: $white;
        }
    }

    button:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    button:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.leave-requests-list {
    margin-top: 5px;

    &-menu {
        display: flex;
        gap: 30px;

        &-item {
            cursor: pointer;
            padding: 0 5px 10px 5px;

            &.active {
                border-bottom: 3px solid $violet;
            }
        }
    }

    &-control {
        display: flex;
        gap: 25px;
    }

    &-table {
        overflow: auto;
        table {
            width: 100%;
        }

        td,
        th {
            padding: 0px;
        }
        td:first-child,  th:first-child, td:nth-child(4),  th:nth-child(4) {
            min-width: 120px;
        }
        td:nth-child(2),  th:nth-child(2), td:nth-child(3),  th:nth-child(3),  td:nth-child(5),  th:nth-child(5) {
            min-width: 200px;
        }

        td:nth-child(6),  th:nth-child(6) {
            min-width: 230px;
        }

        a {
            color: $white;
        }

        &-header {
            .table-header-container {
                background-color: #2c2c2c;
                text-align: start;
                height: 25px;
                padding: 15px;
            }

            th:first-child {
                .table-header-container {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    display: flex;
                    gap: 20px;
                }
            }

            th:last-child {
                .table-header-container {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
        }

        &-item {
            td {
                color: $white;
            }

            td:last-child {
                i {
                    font-size: 28px;
                }
            }

            .table-item-container {
                border-bottom: $border-line;
                height: 45px;
                display: grid;
                align-items: center;
                padding: 25px 15px;

                &-user {
                    display: flex;
                    gap: 10px;

                    p {
                        padding-top: 10px;
                    }
                }

                &-actions {
                    button:first-child {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    &-pagination {
        padding-top: 15px;
    }
}



.leave-requests-details {
    &-item {
        padding: 10px 0;
        font-size: 13px;
        .user-name {
            margin-left: 20px;
            padding-top: 10px;
        }

        .new {
            border-top: 3px solid $yellow;
        }
    
        .active {
            background-color: #171616;
        }
    }

    &-item:first-child {
        margin-top: 20px;
    }

}

.leave-details-panel {
    padding: 20px;
    font-size: 14px;
    .text-title-lg {
        color: $white;
    }

    .card {
        background-color: $primary-black;
        margin: 30px 0;
    }

    table {
        margin-top: 20px;

        td:first-child,  th:first-child {
            min-width: 140px;
        }
        td:nth-child(2),  th:nth-child(2), td:nth-child(3),  th:nth-child(3) {
            min-width: 120px;
        }
    }

    .bar-level {
        list-style: none;
        margin-left: 0;
        padding-left: 10px;
        padding-top: 0;
        padding-bottom: 0;
      }
      .bar-level >li {
        position: relative;
        padding: 20px;
      }
      .bar-level>li:before {
        content: '\25CF';
        margin-right: 10px;
        font-size: 20px;
        position: absolute;
        z-index: 1;
        left: 0;
      }
      .bar-level>li.warning:before { 
        color: $warning;
      }
      .bar-level>li.success:before { 
        color: $green;
      }
      .bar-level>li:after {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        border-left: 2px dotted $gray-800;
        margin-left: 5px;
        height: 88%;
      }
      .bar-level >li:first-of-type:after {
        top: 40%;
      }
      .bar-level >li:last-of-type:after {
        top: -50%;
      }
}