@font-face {
  font-family: 'icon';
  src: url("../fonts/icon.svg") format("svg"), url("../fonts/icon.woff") format("woff"), url("../fonts/icon.eot") format("eot"), url("../fonts/icon.ttf") format("ttf"); }

/* base class */
.i {
  display: inline-block;
  font: normal normal normal 1em/1 'icon';
  color: inherit;
  flex-shrink: 0;
  line-height: 1;
  max-width: initial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .i-calendar-bold::before {
    content: "\e900"; }
  .i-people-bold::before {
    content: "\e904"; }
  .i-profile-bold::before {
    content: "\e908"; }
  .i-medal-star-bold::before {
    content: "\e901"; }
  .i-message-question-bold::before {
    content: "\e902"; }
  .i-money-bold::before {
    content: "\e903"; }
  .i-chart-bold::before {
    content: "\e905"; }
  .i-monitor-bold::before {
    content: "\e906"; }
  .i-org-bold::before {
    content: "\e907"; }
  .i-grid-bold::before {
    content: "\e909"; }
  .i-clock-outline::before {
    content: "\e90a"; }
  .i-arrow-swap-horizontal::before {
    content: "\e90b"; }
  .i-setting-linear::before {
    content: "\e90c"; }
  .i-a-logo::before {
    content: "\e90d"; }
  .i-arrow-down::before {
    content: "\e90e"; }
  .i-arrow-left::before {
    content: "\e90f"; }
  .i-arrow-right-thin::before {
    content: "\e910"; }
  .i-search::before {
    content: "\e911"; }
  .i-arrow-right::before {
    content: "\e912"; }
  .i-notif-outline::before {
    content: "\e913"; }

@font-face {
  font-family: 'poppins';
  src: url("../fonts/Poppins-Light.ttf") format("truetype"); }

body {
  margin: 0 !important;
  font-family: 'poppins';
  background-color: #151515 !important; }
  body button {
    font-family: 'poppins'; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 5px; }

::-webkit-scrollbar-track {
  background: transparent; }

p {
  margin: 0; }

.center {
  justify-content: center;
  text-align: center; }

.user {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #6c757d;
  cursor: pointer; }
  .user img {
    width: 50px;
    height: 50px;
    border-radius: 100%; }

.notif {
  position: relative; }
  .notif-alert {
    content: "";
    position: absolute;
    top: 0px;
    right: 5px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #ffc107; }

.text-title {
  color: #fff; }
  .text-title-lg {
    font-size: 25px; }

.text-sm {
  font-size: 13px; }

.text-md {
  font-size: 15px; }

.text-lg {
  font-size: 18px; }

.bold-white {
  font-weight: bold;
  color: #fff; }

.bold-violet {
  font-weight: bold;
  color: #6E56E0; }

.card {
  background-color: #1E1E1E;
  border: 1px solid #2e2e2f;
  border-radius: 8px;
  color: #6c757d; }
  .card-header {
    padding: 15px;
    border-bottom: 1px solid #2e2e2f; }
  .card-footer {
    padding: 15px;
    border-top: 1px solid #2e2e2f; }
  .card-content {
    padding: 15px;
    overflow: auto; }

.col-end {
  display: flex;
  justify-content: end; }

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 18px;
  border-radius: 20px; }

.btn-solid {
  background-color: #6E56E0;
  border: 1px solid #6E56E0;
  color: #fff;
  padding: 10px 18px;
  border-radius: 20px; }

.btn-default {
  border: none;
  background-color: #2e2e2f;
  color: #6c757d;
  border-radius: 8px;
  padding: 10px 15px;
  font-weight: bolder; }

.hidden {
  visibility: hidden; }

.dot-status {
  width: 10px;
  height: 10px;
  border-radius: 100%; }
  .dot-status.warning {
    background-color: #fd7e14; }
  .dot-status.success {
    background-color: #198754; }

@media screen and (max-width: 620px) {
  .header-side-search input {
    width: 120px !important; }
  .header-side-logo {
    width: auto !important; } }

.left-sidebar {
  background-color: #151515 !important;
  transition: .2s ease-in;
  height: 100%;
  z-index: 11;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  left: 0px;
  top: 0px;
  border-right: 1px solid #2e2e2f;
  height: calc(100vh - 88px);
  overflow: auto; }
  .left-sidebar hr {
    border: none;
    height: .5px;
    color: #6c757d;
    background-color: #6c757d; }
  .left-sidebar .scroll-sidebar {
    overflow-y: auto;
    padding: 0 24px;
    height: calc(100vh - 80px);
    border-radius: 0.375rem; }
    .left-sidebar .scroll-sidebar .simplebar-track.simplebar-horizontal {
      visibility: hidden !important; }
  .left-sidebar .nav {
    padding-left: 0;
    margin-top: -2px;
    margin-top: 0; }
    .left-sidebar .nav-item {
      padding-right: 20px;
      height: 60px;
      display: flex;
      flex-direction: row;
      align-items: center; }
    .left-sidebar .nav-link {
      color: #6c757d;
      padding-left: 30px;
      font-size: 15px;
      text-decoration: none;
      display: flex;
      width: 250px;
      position: relative; }
      .left-sidebar .nav-link-badge {
        background-color: #ffc107;
        color: #343a40;
        width: 30px;
        height: 25px;
        border-radius: 14px;
        position: absolute;
        right: 10px;
        top: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400; }
      .left-sidebar .nav-link-icon {
        font-size: 22px;
        padding-right: 10px;
        margin-top: -2px; }
    .left-sidebar .nav-item .nav-link {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      background-color: transparent;
      padding: 12px 30px;
      font-weight: 400; }
    .left-sidebar .nav-item.active .nav-link, .left-sidebar .nav-item.active:hover .nav-link {
      background-color: #6E56E0;
      color: #fff; }
    .left-sidebar .nav-item:hover .nav-link {
      background-color: #2e2e2f; }

.header {
  height: fit-content;
  border: 1px solid #2e2e2f;
  align-items: center;
  max-width: inherit !important;
  padding: 10px; }
  .header-side-logo {
    height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 250px; }
    .header-side-logo a {
      width: 75%; }
      .header-side-logo a img {
        width: 150px;
        height: 50px; }
    .header-side-logo i {
      color: #6c757d;
      font-size: 22px;
      padding-top: 5px; }
  .header-logo {
    padding-left: 30px;
    color: #fff;
    align-items: center;
    display: flex; }
    .header-logo i {
      font-size: 25px;
      margin-right: 10px; }
  .header-side-container {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 25px; }
    .header-side-container i {
      font-size: 25px;
      color: #6c757d; }
  .header-side-search {
    background-color: #1E1E1E;
    padding: 6px;
    border-radius: 25px;
    width: auto;
    position: relative; }
    .header-side-search i {
      padding-left: 10px;
      color: #6c757d;
      font-size: 20px;
      vertical-align: sub;
      position: absolute; }
    .header-side-search input {
      background-color: #1E1E1E;
      border: none;
      color: #6c757d;
      padding: 5px;
      padding-left: 45px;
      width: 250px; }
    .header-side-search input:focus {
      outline: none; }
  .header-side-notification {
    position: relative;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer; }
    .header-side-notification .notif-alert {
      content: "";
      position: absolute;
      top: 12px;
      right: 16px;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: #ffc107; }
    .header-side-notification i {
      margin-top: 10px; }
  .header-side-notification.active {
    background-color: #6E56E0; }
    .header-side-notification.active i {
      color: #fff; }
  .header-side-user {
    margin-right: 30px; }

.main {
  position: relative;
  padding: 20px 10px; }
  .main-header {
    position: sticky;
    padding: 20px; }
    .main-header-menu {
      display: flex;
      gap: 30px;
      overflow: auto; }
      .main-header-menu-item {
        color: #6c757d;
        font-size: 16px;
        padding-bottom: 10px;
        position: relative;
        padding-top: 12px;
        cursor: pointer; }
        .main-header-menu-item i {
          font-size: 22px; }
        .main-header-menu-item.active {
          border-bottom: 3px solid #6E56E0;
          color: #fff; }
        .main-header-menu-item.notif::before {
          content: "";
          position: absolute;
          top: 0px;
          right: -4px;
          width: 5px;
          height: 5px;
          border-radius: 100%;
          background: #ffc107; }
  .main-content {
    padding: 20px;
    overflow: auto;
    max-height: calc(100vh - 240px); }
    .main-content .text-title-lg {
      color: #fff;
      margin-bottom: 10px; }
    .main-content-dashboard .card-content {
      min-height: 280px; }
    .main-content-dashboard .dates-dp {
      gap: 25px;
      justify-content: end; }
    .main-content-dashboard .days-of-week-container {
      overflow: auto; }
    .main-content-dashboard .days-of-week {
      display: inline-flex;
      flex-wrap: wrap;
      border: 1px solid #2e2e2f;
      border-radius: 8px; }
      .main-content-dashboard .days-of-week .day {
        border: 1px solid #2e2e2f;
        min-width: 73px; }
        .main-content-dashboard .days-of-week .day-label {
          padding: 8px 20px;
          text-align: center;
          color: #fff; }
          .main-content-dashboard .days-of-week .day-label.active {
            background-color: #dc3545; }
    .main-content-dashboard .leaves-heatmap {
      margin-top: 10px; }
      .main-content-dashboard .leaves-heatmap-item {
        padding: 15px;
        position: relative;
        height: 185px;
        text-align: center;
        min-width: 160px; }
    .main-content-dashboard .user-list {
      margin-bottom: 20px; }
      .main-content-dashboard .user-list-profile {
        display: flex; }
        .main-content-dashboard .user-list-profile span {
          padding-left: 10px;
          font-weight: bolder;
          padding-top: 5px; }
      .main-content-dashboard .user-list-leaves {
        padding-right: 10px;
        display: flex;
        justify-content: end;
        color: #fff;
        font-size: 14px;
        padding-top: 5px; }
    .main-content-leave-requests {
      margin-top: 20px; }
  .main-container-overlap {
    position: absolute;
    width: 500px;
    top: 0;
    background-color: #151515;
    right: -14px;
    z-index: 1111111;
    height: calc(100vh - 88px);
    box-shadow: -25px 0px 20px -20px rgba(0, 0, 0, 0.45);
    border-left: 1px solid #2e2e2f;
    overflow: auto; }
  .main-container-overlap.hidden {
    visibility: hidden; }

.flex {
  box-sizing: border-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap; }
  @media screen and (max-width: 1020px) {
    .flex {
      width: 100%; } }
  @media screen and (max-width: 620px) {
    .flex {
      width: 100% !important; } }
  .flex-0 {
    box-sizing: border-box;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap; }

.col-desk-0 {
  box-sizing: border-box;
  width: 0%; }

.col-desk-shift-0 {
  margin-left: 0%; }

.col-desk-1 {
  box-sizing: border-box;
  width: 8.33333%; }

.col-desk-shift-1 {
  margin-left: 8.33333%; }

.col-desk-2 {
  box-sizing: border-box;
  width: 16.66667%; }

.col-desk-shift-2 {
  margin-left: 16.66667%; }

.col-desk-3 {
  box-sizing: border-box;
  width: 25%; }

.col-desk-shift-3 {
  margin-left: 25%; }

.col-desk-4 {
  box-sizing: border-box;
  width: 33.33333%; }

.col-desk-shift-4 {
  margin-left: 33.33333%; }

.col-desk-5 {
  box-sizing: border-box;
  width: 41.66667%; }

.col-desk-shift-5 {
  margin-left: 41.66667%; }

.col-desk-6 {
  box-sizing: border-box;
  width: 50%; }

.col-desk-shift-6 {
  margin-left: 50%; }

.col-desk-7 {
  box-sizing: border-box;
  width: 58.33333%; }

.col-desk-shift-7 {
  margin-left: 58.33333%; }

.col-desk-8 {
  box-sizing: border-box;
  width: 66.66667%; }

.col-desk-shift-8 {
  margin-left: 66.66667%; }

.col-desk-9 {
  box-sizing: border-box;
  width: 75%; }

.col-desk-shift-9 {
  margin-left: 75%; }

.col-desk-10 {
  box-sizing: border-box;
  width: 83.33333%; }

.col-desk-shift-10 {
  margin-left: 83.33333%; }

.col-desk-11 {
  box-sizing: border-box;
  width: 91.66667%; }

.col-desk-shift-11 {
  margin-left: 91.66667%; }

.col-desk-12 {
  box-sizing: border-box;
  width: 100%; }

.col-desk-shift-12 {
  margin-left: 100%; }

@media screen and (max-width: 1020px) {
  .col-tab-0 {
    box-sizing: border-box;
    width: 0%; }
  .col-tab-shift-0 {
    margin-left: 0%; }
  .col-tab-1 {
    box-sizing: border-box;
    width: 8.33333%; }
  .col-tab-shift-1 {
    margin-left: 8.33333%; }
  .col-tab-2 {
    box-sizing: border-box;
    width: 16.66667%; }
  .col-tab-shift-2 {
    margin-left: 16.66667%; }
  .col-tab-3 {
    box-sizing: border-box;
    width: 25%; }
  .col-tab-shift-3 {
    margin-left: 25%; }
  .col-tab-4 {
    box-sizing: border-box;
    width: 33.33333%; }
  .col-tab-shift-4 {
    margin-left: 33.33333%; }
  .col-tab-5 {
    box-sizing: border-box;
    width: 41.66667%; }
  .col-tab-shift-5 {
    margin-left: 41.66667%; }
  .col-tab-6 {
    box-sizing: border-box;
    width: 50%; }
  .col-tab-shift-6 {
    margin-left: 50%; }
  .col-tab-7 {
    box-sizing: border-box;
    width: 58.33333%; }
  .col-tab-shift-7 {
    margin-left: 58.33333%; }
  .col-tab-8 {
    box-sizing: border-box;
    width: 66.66667%; }
  .col-tab-shift-8 {
    margin-left: 66.66667%; }
  .col-tab-9 {
    box-sizing: border-box;
    width: 75%; }
  .col-tab-shift-9 {
    margin-left: 75%; }
  .col-tab-10 {
    box-sizing: border-box;
    width: 83.33333%; }
  .col-tab-shift-10 {
    margin-left: 83.33333%; }
  .col-tab-11 {
    box-sizing: border-box;
    width: 91.66667%; }
  .col-tab-shift-11 {
    margin-left: 91.66667%; }
  .col-tab-12 {
    box-sizing: border-box;
    width: 100%; }
  .col-tab-shift-12 {
    margin-left: 100%; } }

@media screen and (max-width: 620px) {
  .col-mob-0 {
    box-sizing: border-box;
    width: 0%; }
  .col-mob-shift-0 {
    margin-left: 0%; }
  .col-mob-1 {
    box-sizing: border-box;
    width: 25%; }
  .col-mob-shift-1 {
    margin-left: 25%; }
  .col-mob-2 {
    box-sizing: border-box;
    width: 50%; }
  .col-mob-shift-2 {
    margin-left: 50%; }
  .col-mob-3 {
    box-sizing: border-box;
    width: 75%; }
  .col-mob-shift-3 {
    margin-left: 75%; }
  .col-mob-4 {
    box-sizing: border-box;
    width: 100%; }
  .col-mob-shift-4 {
    margin-left: 100%; } }

@media screen and (max-width: 1020px) {
  .nav-link-label {
    display: none; }
  .sidebar-container {
    width: 12% !important; }
  .main-container-overlap {
    width: 400px; } }

.progress-radial {
  display: inline-block;
  margin: 15px;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #6E56E0; }
  .progress-radial:after {
    content: '';
    width: 11.4px;
    height: 9px;
    top: 48%;
    left: 52%;
    border-radius: 50%;
    margin-left: -7.5px;
    margin-top: -7.5px;
    background: #6E56E0;
    position: absolute;
    z-index: 999; }
  .progress-radial:before {
    content: '';
    width: 11.5px;
    height: 9px;
    top: 51%;
    left: 49%;
    border-radius: 50%;
    margin-left: -9.0px;
    margin-top: -8.8px;
    background: #6E56E0;
    position: absolute;
    z-index: 999; }
  .progress-radial:after {
    z-index: 998;
    box-shadow: none;
    transform: translate(0, -50px); }
  .progress-radial b:after {
    color: #fffde8;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    position: absolute;
    font-weight: 900;
    left: 33%;
    top: 33%;
    width: 85%;
    height: 85%;
    background-color: #1E1E1E;
    border-radius: 50%;
    margin-left: -25.5%;
    margin-top: -25.5%;
    text-align: center;
    line-height: 95px;
    font-size: 30px; }

.progress-0 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(90deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-0:before {
    transform: rotate(0deg) translate(0, -50px); }
  .progress-0 b:after {
    content: "0%"; }

.progress-1 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(93.6deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-1:before {
    transform: rotate(3.6deg) translate(0, -50px); }
  .progress-1 b:after {
    content: "1%"; }

.progress-2 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(97.2deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-2:before {
    transform: rotate(7.2deg) translate(0, -50px); }
  .progress-2 b:after {
    content: "2%"; }

.progress-3 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(100.8deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-3:before {
    transform: rotate(10.8deg) translate(0, -50px); }
  .progress-3 b:after {
    content: "3%"; }

.progress-4 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(104.4deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-4:before {
    transform: rotate(14.4deg) translate(0, -50px); }
  .progress-4 b:after {
    content: "4%"; }

.progress-5 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(108deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-5:before {
    transform: rotate(18deg) translate(0, -50px); }
  .progress-5 b:after {
    content: "5%"; }

.progress-6 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(111.6deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-6:before {
    transform: rotate(21.6deg) translate(0, -50px); }
  .progress-6 b:after {
    content: "6%"; }

.progress-7 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(115.2deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-7:before {
    transform: rotate(25.2deg) translate(0, -50px); }
  .progress-7 b:after {
    content: "7%"; }

.progress-8 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(118.8deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-8:before {
    transform: rotate(28.8deg) translate(0, -50px); }
  .progress-8 b:after {
    content: "8%"; }

.progress-9 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(122.4deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-9:before {
    transform: rotate(32.4deg) translate(0, -50px); }
  .progress-9 b:after {
    content: "9%"; }

.progress-10 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(126deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-10:before {
    transform: rotate(36deg) translate(0, -50px); }
  .progress-10 b:after {
    content: "10%"; }

.progress-11 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(129.6deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-11:before {
    transform: rotate(39.6deg) translate(0, -50px); }
  .progress-11 b:after {
    content: "11%"; }

.progress-12 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(133.2deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-12:before {
    transform: rotate(43.2deg) translate(0, -50px); }
  .progress-12 b:after {
    content: "12%"; }

.progress-13 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(136.8deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-13:before {
    transform: rotate(46.8deg) translate(0, -50px); }
  .progress-13 b:after {
    content: "13%"; }

.progress-14 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(140.4deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-14:before {
    transform: rotate(50.4deg) translate(0, -50px); }
  .progress-14 b:after {
    content: "14%"; }

.progress-15 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(144deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-15:before {
    transform: rotate(54deg) translate(0, -50px); }
  .progress-15 b:after {
    content: "15%"; }

.progress-16 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(147.6deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-16:before {
    transform: rotate(57.6deg) translate(0, -50px); }
  .progress-16 b:after {
    content: "16%"; }

.progress-17 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(151.2deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-17:before {
    transform: rotate(61.2deg) translate(0, -50px); }
  .progress-17 b:after {
    content: "17%"; }

.progress-18 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(154.8deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-18:before {
    transform: rotate(64.8deg) translate(0, -50px); }
  .progress-18 b:after {
    content: "18%"; }

.progress-19 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(158.4deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-19:before {
    transform: rotate(68.4deg) translate(0, -50px); }
  .progress-19 b:after {
    content: "19%"; }

.progress-20 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(162deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-20:before {
    transform: rotate(72deg) translate(0, -50px); }
  .progress-20 b:after {
    content: "20%"; }

.progress-21 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(165.6deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-21:before {
    transform: rotate(75.6deg) translate(0, -50px); }
  .progress-21 b:after {
    content: "21%"; }

.progress-22 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(169.2deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-22:before {
    transform: rotate(79.2deg) translate(0, -50px); }
  .progress-22 b:after {
    content: "22%"; }

.progress-23 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(172.8deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-23:before {
    transform: rotate(82.8deg) translate(0, -50px); }
  .progress-23 b:after {
    content: "23%"; }

.progress-24 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(176.4deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-24:before {
    transform: rotate(86.4deg) translate(0, -50px); }
  .progress-24 b:after {
    content: "24%"; }

.progress-25 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(180deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-25:before {
    transform: rotate(90deg) translate(0, -50px); }
  .progress-25 b:after {
    content: "25%"; }

.progress-26 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(183.6deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-26:before {
    transform: rotate(93.6deg) translate(0, -50px); }
  .progress-26 b:after {
    content: "26%"; }

.progress-27 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(187.2deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-27:before {
    transform: rotate(97.2deg) translate(0, -50px); }
  .progress-27 b:after {
    content: "27%"; }

.progress-28 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(190.8deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-28:before {
    transform: rotate(100.8deg) translate(0, -50px); }
  .progress-28 b:after {
    content: "28%"; }

.progress-29 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(194.4deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-29:before {
    transform: rotate(104.4deg) translate(0, -50px); }
  .progress-29 b:after {
    content: "29%"; }

.progress-30 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(198deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-30:before {
    transform: rotate(108deg) translate(0, -50px); }
  .progress-30 b:after {
    content: "30%"; }

.progress-31 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(201.6deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-31:before {
    transform: rotate(111.6deg) translate(0, -50px); }
  .progress-31 b:after {
    content: "31%"; }

.progress-32 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(205.2deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-32:before {
    transform: rotate(115.2deg) translate(0, -50px); }
  .progress-32 b:after {
    content: "32%"; }

.progress-33 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(208.8deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-33:before {
    transform: rotate(118.8deg) translate(0, -50px); }
  .progress-33 b:after {
    content: "33%"; }

.progress-34 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(212.4deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-34:before {
    transform: rotate(122.4deg) translate(0, -50px); }
  .progress-34 b:after {
    content: "34%"; }

.progress-35 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(216deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-35:before {
    transform: rotate(126deg) translate(0, -50px); }
  .progress-35 b:after {
    content: "35%"; }

.progress-36 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(219.6deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-36:before {
    transform: rotate(129.6deg) translate(0, -50px); }
  .progress-36 b:after {
    content: "36%"; }

.progress-37 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(223.2deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-37:before {
    transform: rotate(133.2deg) translate(0, -50px); }
  .progress-37 b:after {
    content: "37%"; }

.progress-38 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(226.8deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-38:before {
    transform: rotate(136.8deg) translate(0, -50px); }
  .progress-38 b:after {
    content: "38%"; }

.progress-39 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(230.4deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-39:before {
    transform: rotate(140.4deg) translate(0, -50px); }
  .progress-39 b:after {
    content: "39%"; }

.progress-40 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(234deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-40:before {
    transform: rotate(144deg) translate(0, -50px); }
  .progress-40 b:after {
    content: "40%"; }

.progress-41 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(237.6deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-41:before {
    transform: rotate(147.6deg) translate(0, -50px); }
  .progress-41 b:after {
    content: "41%"; }

.progress-42 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(241.2deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-42:before {
    transform: rotate(151.2deg) translate(0, -50px); }
  .progress-42 b:after {
    content: "42%"; }

.progress-43 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(244.8deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-43:before {
    transform: rotate(154.8deg) translate(0, -50px); }
  .progress-43 b:after {
    content: "43%"; }

.progress-44 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(248.4deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-44:before {
    transform: rotate(158.4deg) translate(0, -50px); }
  .progress-44 b:after {
    content: "44%"; }

.progress-45 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(252deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-45:before {
    transform: rotate(162deg) translate(0, -50px); }
  .progress-45 b:after {
    content: "45%"; }

.progress-46 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(255.6deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-46:before {
    transform: rotate(165.6deg) translate(0, -50px); }
  .progress-46 b:after {
    content: "46%"; }

.progress-47 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(259.2deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-47:before {
    transform: rotate(169.2deg) translate(0, -50px); }
  .progress-47 b:after {
    content: "47%"; }

.progress-48 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(262.8deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-48:before {
    transform: rotate(172.8deg) translate(0, -50px); }
  .progress-48 b:after {
    content: "48%"; }

.progress-49 {
  background-image: linear-gradient(90deg, #2b2b2b 50%, transparent 50%, transparent), linear-gradient(266.4deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-49:before {
    transform: rotate(176.4deg) translate(0, -50px); }
  .progress-49 b:after {
    content: "49%"; }

.progress-50 {
  background-image: linear-gradient(-90deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-50:before {
    transform: rotate(180deg) translate(0, -50px); }
  .progress-50 b:after {
    content: "50%"; }

.progress-51 {
  background-image: linear-gradient(-86.4deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-51:before {
    transform: rotate(183.6deg) translate(0, -50px); }
  .progress-51 b:after {
    content: "51%"; }

.progress-52 {
  background-image: linear-gradient(-82.8deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-52:before {
    transform: rotate(187.2deg) translate(0, -50px); }
  .progress-52 b:after {
    content: "52%"; }

.progress-53 {
  background-image: linear-gradient(-79.2deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-53:before {
    transform: rotate(190.8deg) translate(0, -50px); }
  .progress-53 b:after {
    content: "53%"; }

.progress-54 {
  background-image: linear-gradient(-75.6deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-54:before {
    transform: rotate(194.4deg) translate(0, -50px); }
  .progress-54 b:after {
    content: "54%"; }

.progress-55 {
  background-image: linear-gradient(-72deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-55:before {
    transform: rotate(198deg) translate(0, -50px); }
  .progress-55 b:after {
    content: "55%"; }

.progress-56 {
  background-image: linear-gradient(-68.4deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-56:before {
    transform: rotate(201.6deg) translate(0, -50px); }
  .progress-56 b:after {
    content: "56%"; }

.progress-57 {
  background-image: linear-gradient(-64.8deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-57:before {
    transform: rotate(205.2deg) translate(0, -50px); }
  .progress-57 b:after {
    content: "57%"; }

.progress-58 {
  background-image: linear-gradient(-61.2deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-58:before {
    transform: rotate(208.8deg) translate(0, -50px); }
  .progress-58 b:after {
    content: "58%"; }

.progress-59 {
  background-image: linear-gradient(-57.6deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-59:before {
    transform: rotate(212.4deg) translate(0, -50px); }
  .progress-59 b:after {
    content: "59%"; }

.progress-60 {
  background-image: linear-gradient(-54deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-60:before {
    transform: rotate(216deg) translate(0, -50px); }
  .progress-60 b:after {
    content: "60%"; }

.progress-61 {
  background-image: linear-gradient(-50.4deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-61:before {
    transform: rotate(219.6deg) translate(0, -50px); }
  .progress-61 b:after {
    content: "61%"; }

.progress-62 {
  background-image: linear-gradient(-46.8deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-62:before {
    transform: rotate(223.2deg) translate(0, -50px); }
  .progress-62 b:after {
    content: "62%"; }

.progress-63 {
  background-image: linear-gradient(-43.2deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-63:before {
    transform: rotate(226.8deg) translate(0, -50px); }
  .progress-63 b:after {
    content: "63%"; }

.progress-64 {
  background-image: linear-gradient(-39.6deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-64:before {
    transform: rotate(230.4deg) translate(0, -50px); }
  .progress-64 b:after {
    content: "64%"; }

.progress-65 {
  background-image: linear-gradient(-36deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-65:before {
    transform: rotate(234deg) translate(0, -50px); }
  .progress-65 b:after {
    content: "65%"; }

.progress-66 {
  background-image: linear-gradient(-32.4deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-66:before {
    transform: rotate(237.6deg) translate(0, -50px); }
  .progress-66 b:after {
    content: "66%"; }

.progress-67 {
  background-image: linear-gradient(-28.8deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-67:before {
    transform: rotate(241.2deg) translate(0, -50px); }
  .progress-67 b:after {
    content: "67%"; }

.progress-68 {
  background-image: linear-gradient(-25.2deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-68:before {
    transform: rotate(244.8deg) translate(0, -50px); }
  .progress-68 b:after {
    content: "68%"; }

.progress-69 {
  background-image: linear-gradient(-21.6deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-69:before {
    transform: rotate(248.4deg) translate(0, -50px); }
  .progress-69 b:after {
    content: "69%"; }

.progress-70 {
  background-image: linear-gradient(-18deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-70:before {
    transform: rotate(252deg) translate(0, -50px); }
  .progress-70 b:after {
    content: "70%"; }

.progress-71 {
  background-image: linear-gradient(-14.4deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-71:before {
    transform: rotate(255.6deg) translate(0, -50px); }
  .progress-71 b:after {
    content: "71%"; }

.progress-72 {
  background-image: linear-gradient(-10.8deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-72:before {
    transform: rotate(259.2deg) translate(0, -50px); }
  .progress-72 b:after {
    content: "72%"; }

.progress-73 {
  background-image: linear-gradient(-7.2deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-73:before {
    transform: rotate(262.8deg) translate(0, -50px); }
  .progress-73 b:after {
    content: "73%"; }

.progress-74 {
  background-image: linear-gradient(-3.6deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-74:before {
    transform: rotate(266.4deg) translate(0, -50px); }
  .progress-74 b:after {
    content: "74%"; }

.progress-75 {
  background-image: linear-gradient(0deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-75:before {
    transform: rotate(270deg) translate(0, -50px); }
  .progress-75 b:after {
    content: "75%"; }

.progress-76 {
  background-image: linear-gradient(3.6deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-76:before {
    transform: rotate(273.6deg) translate(0, -50px); }
  .progress-76 b:after {
    content: "76%"; }

.progress-77 {
  background-image: linear-gradient(7.2deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-77:before {
    transform: rotate(277.2deg) translate(0, -50px); }
  .progress-77 b:after {
    content: "77%"; }

.progress-78 {
  background-image: linear-gradient(10.8deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-78:before {
    transform: rotate(280.8deg) translate(0, -50px); }
  .progress-78 b:after {
    content: "78%"; }

.progress-79 {
  background-image: linear-gradient(14.4deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-79:before {
    transform: rotate(284.4deg) translate(0, -50px); }
  .progress-79 b:after {
    content: "79%"; }

.progress-80 {
  background-image: linear-gradient(18deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-80:before {
    transform: rotate(288deg) translate(0, -50px); }
  .progress-80 b:after {
    content: "80%"; }

.progress-81 {
  background-image: linear-gradient(21.6deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-81:before {
    transform: rotate(291.6deg) translate(0, -50px); }
  .progress-81 b:after {
    content: "81%"; }

.progress-82 {
  background-image: linear-gradient(25.2deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-82:before {
    transform: rotate(295.2deg) translate(0, -50px); }
  .progress-82 b:after {
    content: "82%"; }

.progress-83 {
  background-image: linear-gradient(28.8deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-83:before {
    transform: rotate(298.8deg) translate(0, -50px); }
  .progress-83 b:after {
    content: "83%"; }

.progress-84 {
  background-image: linear-gradient(32.4deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-84:before {
    transform: rotate(302.4deg) translate(0, -50px); }
  .progress-84 b:after {
    content: "84%"; }

.progress-85 {
  background-image: linear-gradient(36deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-85:before {
    transform: rotate(306deg) translate(0, -50px); }
  .progress-85 b:after {
    content: "85%"; }

.progress-86 {
  background-image: linear-gradient(39.6deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-86:before {
    transform: rotate(309.6deg) translate(0, -50px); }
  .progress-86 b:after {
    content: "86%"; }

.progress-87 {
  background-image: linear-gradient(43.2deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-87:before {
    transform: rotate(313.2deg) translate(0, -50px); }
  .progress-87 b:after {
    content: "87%"; }

.progress-88 {
  background-image: linear-gradient(46.8deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-88:before {
    transform: rotate(316.8deg) translate(0, -50px); }
  .progress-88 b:after {
    content: "88%"; }

.progress-89 {
  background-image: linear-gradient(50.4deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-89:before {
    transform: rotate(320.4deg) translate(0, -50px); }
  .progress-89 b:after {
    content: "89%"; }

.progress-90 {
  background-image: linear-gradient(54deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-90:before {
    transform: rotate(324deg) translate(0, -50px); }
  .progress-90 b:after {
    content: "90%"; }

.progress-91 {
  background-image: linear-gradient(57.6deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-91:before {
    transform: rotate(327.6deg) translate(0, -50px); }
  .progress-91 b:after {
    content: "91%"; }

.progress-92 {
  background-image: linear-gradient(61.2deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-92:before {
    transform: rotate(331.2deg) translate(0, -50px); }
  .progress-92 b:after {
    content: "92%"; }

.progress-93 {
  background-image: linear-gradient(64.8deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-93:before {
    transform: rotate(334.8deg) translate(0, -50px); }
  .progress-93 b:after {
    content: "93%"; }

.progress-94 {
  background-image: linear-gradient(68.4deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-94:before {
    transform: rotate(338.4deg) translate(0, -50px); }
  .progress-94 b:after {
    content: "94%"; }

.progress-95 {
  background-image: linear-gradient(72deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-95:before {
    transform: rotate(342deg) translate(0, -50px); }
  .progress-95 b:after {
    content: "95%"; }

.progress-96 {
  background-image: linear-gradient(75.6deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-96:before {
    transform: rotate(345.6deg) translate(0, -50px); }
  .progress-96 b:after {
    content: "96%"; }

.progress-97 {
  background-image: linear-gradient(79.2deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-97:before {
    transform: rotate(349.2deg) translate(0, -50px); }
  .progress-97 b:after {
    content: "97%"; }

.progress-98 {
  background-image: linear-gradient(82.8deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-98:before {
    transform: rotate(352.8deg) translate(0, -50px); }
  .progress-98 b:after {
    content: "98%"; }

.progress-99 {
  background-image: linear-gradient(86.4deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-99:before {
    transform: rotate(356.4deg) translate(0, -50px); }
  .progress-99 b:after {
    content: "99%"; }

.progress-100 {
  background-image: linear-gradient(90deg, #6E56E0 50%, transparent 50%, transparent), linear-gradient(270deg, #6E56E0 50%, #2b2b2b 50%, #2b2b2b); }
  .progress-100:before {
    transform: rotate(360deg) translate(0, -50px); }
  .progress-100 b:after {
    content: "100%"; }

.btn-group-toggle button {
  background-color: #1E1E1E;
  color: #6c757d;
  background-color: #1E1E1E;
  color: #6c757d;
  padding: 12px 30px;
  cursor: pointer;
  border: none; }
  .btn-group-toggle button.active {
    background-color: #6E56E0;
    color: #fff; }

.btn-group-toggle button:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; }

.btn-group-toggle button:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }

.leave-requests-list {
  margin-top: 5px; }
  .leave-requests-list-menu {
    display: flex;
    gap: 30px; }
    .leave-requests-list-menu-item {
      cursor: pointer;
      padding: 0 5px 10px 5px; }
      .leave-requests-list-menu-item.active {
        border-bottom: 3px solid #6E56E0; }
  .leave-requests-list-control {
    display: flex;
    gap: 25px; }
  .leave-requests-list-table {
    overflow: auto; }
    .leave-requests-list-table table {
      width: 100%; }
    .leave-requests-list-table td,
    .leave-requests-list-table th {
      padding: 0px; }
    .leave-requests-list-table td:first-child, .leave-requests-list-table th:first-child, .leave-requests-list-table td:nth-child(4), .leave-requests-list-table th:nth-child(4) {
      min-width: 120px; }
    .leave-requests-list-table td:nth-child(2), .leave-requests-list-table th:nth-child(2), .leave-requests-list-table td:nth-child(3), .leave-requests-list-table th:nth-child(3), .leave-requests-list-table td:nth-child(5), .leave-requests-list-table th:nth-child(5) {
      min-width: 200px; }
    .leave-requests-list-table td:nth-child(6), .leave-requests-list-table th:nth-child(6) {
      min-width: 230px; }
    .leave-requests-list-table a {
      color: #fff; }
    .leave-requests-list-table-header .table-header-container {
      background-color: #2c2c2c;
      text-align: start;
      height: 25px;
      padding: 15px; }
    .leave-requests-list-table-header th:first-child .table-header-container {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      display: flex;
      gap: 20px; }
    .leave-requests-list-table-header th:last-child .table-header-container {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px; }
    .leave-requests-list-table-item td {
      color: #fff; }
    .leave-requests-list-table-item td:last-child i {
      font-size: 28px; }
    .leave-requests-list-table-item .table-item-container {
      border-bottom: 1px solid #2e2e2f;
      height: 45px;
      display: grid;
      align-items: center;
      padding: 25px 15px; }
      .leave-requests-list-table-item .table-item-container-user {
        display: flex;
        gap: 10px; }
        .leave-requests-list-table-item .table-item-container-user p {
          padding-top: 10px; }
      .leave-requests-list-table-item .table-item-container-actions button:first-child {
        margin-right: 10px; }
  .leave-requests-list-pagination {
    padding-top: 15px; }

.leave-requests-details-item {
  padding: 10px 0;
  font-size: 13px; }
  .leave-requests-details-item .user-name {
    margin-left: 20px;
    padding-top: 10px; }
  .leave-requests-details-item .new {
    border-top: 3px solid #ffc107; }
  .leave-requests-details-item .active {
    background-color: #171616; }

.leave-requests-details-item:first-child {
  margin-top: 20px; }

.leave-details-panel {
  padding: 20px;
  font-size: 14px; }
  .leave-details-panel .text-title-lg {
    color: #fff; }
  .leave-details-panel .card {
    background-color: #151515;
    margin: 30px 0; }
  .leave-details-panel table {
    margin-top: 20px; }
    .leave-details-panel table td:first-child, .leave-details-panel table th:first-child {
      min-width: 140px; }
    .leave-details-panel table td:nth-child(2), .leave-details-panel table th:nth-child(2), .leave-details-panel table td:nth-child(3), .leave-details-panel table th:nth-child(3) {
      min-width: 120px; }
  .leave-details-panel .bar-level {
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0; }
  .leave-details-panel .bar-level > li {
    position: relative;
    padding: 20px; }
  .leave-details-panel .bar-level > li:before {
    content: '\25CF';
    margin-right: 10px;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    left: 0; }
  .leave-details-panel .bar-level > li.warning:before {
    color: #ffc107; }
  .leave-details-panel .bar-level > li.success:before {
    color: #198754; }
  .leave-details-panel .bar-level > li:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    border-left: 2px dotted #343a40;
    margin-left: 5px;
    height: 88%; }
  .leave-details-panel .bar-level > li:first-of-type:after {
    top: 40%; }
  .leave-details-panel .bar-level > li:last-of-type:after {
    top: -50%; }

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper input[type=checkbox] {
    --active: #6E56E0;
    --active-inner: #fff;
    --focus: #6E56E0;
    --border: white;
    --border-hover: #6E56E0;
    --background: transparent;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s; }
  .checkbox-wrapper input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s); }
  .checkbox-wrapper input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2); }
  .checkbox-wrapper input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9; }
  .checkbox-wrapper input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border); }
  .checkbox-wrapper input[type=checkbox]:disabled + label {
    cursor: not-allowed; }
  .checkbox-wrapper input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover); }
  .checkbox-wrapper input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus); }
  .checkbox-wrapper input[type=checkbox]:not(.switch) {
    width: 21px; }
  .checkbox-wrapper input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0); }
  .checkbox-wrapper input[type=checkbox]:not(.switch):checked {
    --o: 1; }
  .checkbox-wrapper input[type=checkbox] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px; }
  .checkbox-wrapper input[type=checkbox]:not(.switch) {
    border-radius: 7px; }
  .checkbox-wrapper input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg)); }
  .checkbox-wrapper input[type=checkbox]:not(.switch):checked {
    --r: 43deg; } }

.checkbox-wrapper * {
  box-sizing: inherit; }

.checkbox-wrapper *:before,
.checkbox-wrapper *:after {
  box-sizing: inherit; }

.notifications {
  padding: 20px;
  color: #6c757d; }
  .notifications .text-title-lg {
    color: #fff; }
  .notifications .mark {
    cursor: pointer; }
  .notifications-list {
    margin-top: 30px; }
    .notifications-list-item {
      padding: 20px;
      background-color: #1E1E1E;
      border-radius: 12px;
      display: flex;
      gap: 20px;
      position: relative;
      margin: 10px 0; }
      .notifications-list-item .user {
        margin-left: 10px; }
      .notifications-list-item .date-text {
        color: #adb5bd;
        margin-top: 20px; }
      .notifications-list-item-status {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #ffc107;
        position: absolute; }
    .notifications-list-item.old-notif .notifications-list-item-status {
      display: none; }
    .notifications-list-item.old-notif .notifications-list-item-details p:first-child {
      color: #495057; }
